@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background-image: linear-gradient(68.15deg, #8546faea 16.62%, #3acbfbe5 85.61%);
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem {
    height: 72px;
  }

.cabecalho-menu{
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item{
    font-family: 'Sarala', sans-serif;
    color: #e1faf8;
    font-weight: 400;
    font-size: 18px;
}

.cabecalho-menu-item:hover{
    color: #bed4d3;
}

.conteudo{
    margin-bottom: 48px;
    border-top: 0.4px solid #8cebebc2;
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #e8dff8;
}

.conteudo-principal-escrito-subtitulo{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #d0c4e6;
}

.conteudo-principal-escrito-botao{
    background-color: #d0bdf3;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px #6b1efa57;
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #0f002bea;
}

.conteudo-principal-escrito-botao:hover{
    background-color: #9c8fb4;
}

.conteudo-principal-imagem{
    height: 430px;
}

.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo{
    border-top: 0.4px solid #8cebebc2;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #E8DFF8;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo{
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #d0c4e6;
}

.rodape{
    padding: 32px;
    border-top: 0.4px solid #85D7EF;
}

.rodape-imagem{
    height: 40px;
    display: block;
    margin: 0 auto;
}